{% extends 'base.html' %}

{% block header %}
  <title>{% block title %}Profile{% endblock %}</title>
{% endblock %}
{% block content %}

<h2>{{ user.username }}'s profile</h2>
<a href="{{ url_for('users.user_edit') }} ">Edit profile</a>
<div class="bio">
  <h3>BIO</h3>
  <p>{{ user.content }}</p>
</div>

<h2>Pins Submitted</h2>
{% for pin in pins %}
<h3>{{ pin.pinName }}</h3>
<p>Latitude: {{ pin.lat }}, Longitude: {{ pin.long }}</p>
<p>Submitted by {{ user.username }}</p>
{% endfor %}


{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}
{% endblock %}