*   {
font-family: 'IBM Plex Sans', sans-serif;
}

.hiddenBullet   {
   list-style: none;
}
.heading    {
    padding-bottom: 0;
    margin-bottom: 0;
}

.login-label    {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  display: block;
}

label {
  color: #B4886B;
  font-weight: bold;
  display: block;
}
label:after { content: ": " }


.noDeco {
    text-decoration: none;
}
.right  {
    top: 0;
    text-align: right;
}

.hidden {
    display: none;
}
