{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if g.user %}
  <p>YOU ARE ALREADY LOGGED IN</p>
{% else %}
  <form method="post" class="login">
    <label for="username" >Username</label>
    <input name="username" id="username" required>
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" class="login-label" value="Log In">
  </form>
{% endif %}
{% endblock %}