{% extends 'base.html' %}
<body>
  <nav>
  <h1 class="heading"><a class="noDeco"  href="/">DynaMap</a></h1>
  <ul class="hiddenBullet">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li>Create an account here <br>
      <a href="{{ url_for('auth.register') }}">Register</a>
      <li>Already have an account?<br>
      <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>
