<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
  <h1 class="heading"><a class="noDeco"  href="/">inHeritage</a></h1>
    <img src="https://cdn.discordapp.com/attachments/947098727942869024/947449464388481034/logo2.png" alt="Logo" class="logo">
    <ul class="hiddenBullet ">

    </ul>
    <ul class="hiddenBullet">
    {% if g.user %}
      <li><a href="{{ url_for('users.user_view_name', uname=g.user['username']) }}">{{ g.user['username'] }}</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li>Create an account here <br>
      <a href="{{ url_for('auth.register') }}">Register</a>
      <li>Already have an account?<br>
      <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
      <li><a href="{{ url_for('map') }}">Map</a></li>
      <li><a href="{{ url_for('overlay') }}">Overlay</a></li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
</body>
</html>
