<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='data.json')}}"></script>
    <title>OpenLayers example</title>
</head>
<nav>
    <h1 class="heading"><a class="noDeco" href="/">DynaMap</a></h1>
    <ul class="hiddenBullet">
        {% if g.user %}
        <li><span>{{ g.user['username'] }}</span>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
            {% else %}
        <li>Create an account here <br>
            <a href="{{ url_for('auth.register') }}">Register</a>
        <li>Already have an account?<br>
            <a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
    </ul>
</nav>

<body>
    <div id="map" class="map"></div>
    <p id="demo"></p>
    <script type="text/javascript" >

        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([37.41, 8.82]),
                zoom: 4
            })
        });
        var markersStatic = new ol.layer.Vector({
            source: new ol.source.Vector(),
            style: new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 1],
                    src: 'https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fpaomedia%2Fsmall-n-flat%2F16%2Fmap-marker-icon.png&f=1&nofb=1'
                })
            })
        });
        var markerDynamic = new ol.layer.Vector({
            source: new ol.source.Vector(),
            style: new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 1],
                    src: 'https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fpaomedia%2Fsmall-n-flat%2F16%2Fmap-marker-icon.png&f=1&nofb=1',
                })
            }
            )
        });
        map.addLayer(markersStatic);
        map.addLayer(markerDynamic);

        
        var mydata = data;
        var coordinates = [];
        for (let i = 0; i <= mydata.length; i++) {
            try {
            var marker = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat([mydata[i].fields.geographical_coordinates[1],mydata[i].fields.geographical_coordinates[0]])));
             markersStatic.getSource().addFeature(marker);
            coordinates.push([mydata[i].fields.geographical_coordinates[1],mydata[i].fields.geographical_coordinates[0]])
            } catch (error) {
                //ignore
            }
        }
        console.log(coordinates)
        var marker = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat([106.8478695, -6.1568562])));
        markersStatic.getSource().addFeature(marker);
        map.on('click', function (evt) {
            console.info(evt.pixel);
            console.info(map.getPixelFromCoordinate(evt.coordinate));
            console.info(ol.proj.toLonLat(evt.coordinate));
            var coords = ol.proj.toLonLat(evt.coordinate);
            var marker2 = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat(coords)));
            markerDynamic.getSource().addFeature(marker2);

        });

    </script>
</body>