{% extends 'base.html' %}
{% block header %}
    <meta charset="utf-8">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .map {
            height: 600px;
            width: 100%;
        }
        .popup{
             border-radius: 5px;
            border: 1px solid grey;
            background-color: rgba(255, 255, 255, 0.9);
            padding: 2px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.12.0/build/ol.js"></script>
    <title>OpenLayers example</title>
{% endblock %}
<nav>
  <h1 class="heading"><a class="noDeco"  href="/">DynaMap</a></h1>
  <ul class="hiddenBullet">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li>Create an account here <br>
      <a href="{{ url_for('auth.register') }}">Register</a>
      <li>Already have an account?<br>
      <a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
{% block content %}
    <div id="map" class="map"></div>
    <p id="demo"></p>

    <div id="popup" class="ol-popup">
      <form></form>
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
{% endblock %}


    <script type="text/javascript">

         /**
         * Elements that make up the popup.
         */
        const container = document.getElementById('popup');
        const content = document.getElementById('popup-content');
        const closer = document.getElementById('popup-closer');

        /**
         * Create an overlay to anchor the popup to the map.
         */
         const style = new ol.style.Style({
            fill: new ol.style.Fill({
            color: "#eeeeee"
            })
        });

        const geoLayer = new ol.layer.Vector({
            background: "#000075",
            source: new ol.source.Vector({
            url: "https://openlayers.org/data/vector/ecoregions.json",
            format: new ol.format.GeoJSON()
            }),
            style: function (feature) {
            //climate = BIO
            //environment status = NNH
            //
            const color = feature.get("COLOR_BIO") || "#eeeeee";
            style.getFill().setColor(color);
            return style;
            }
        });

        const overlay = new ol.Overlay({
          element: container,
          autoPan: {
            animation: {
              duration: 250,
            },
          },
        });
        window.unload = function () {
          overlay.setPosition(undefined);
          closer.blur();
          return false;
        };

        var map = new ol.Map({
            target: 'map',
            layers: [geoLayer,],
            overlays: [overlay],
            target: 'map',
            view: new ol.View({
                center: ol.proj.fromLonLat([37.41, 8.82]),
                zoom: 2
            })
        });
        var markers = new ol.layer.Vector({
            source: new ol.source.Vector(),
            style: new ol.style.Style({
                image: new ol.style.Icon({
                    anchor: [0.5, 1],
                    src: 'https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ficons.iconarchive.com%2Ficons%2Fpaomedia%2Fsmall-n-flat%2F16%2Fmap-marker-icon.png&f=1&nofb=1'
                })
            })
        });
        map.addLayer(markers);

        var marker = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat([106.8478695, -6.1568562])));

        markers.getSource().addFeature(marker);

        map.on('click', function (evt) {
            console.info(evt.pixel);
            console.info(map.getPixelFromCoordinate(evt.coordinate));
            console.info(ol.proj.toLonLat(evt.coordinate));
            var coords = ol.proj.toLonLat(evt.coordinate);
            var marker2 = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat(coords)));
            markers.getSource().addFeature(marker2);
        });

        const key = 'Get your own API key at https://www.maptiler.com/cloud/';
        const attributions =
          '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> ' +
          '<a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>';

        /**
         * Add a click handler to the map to render the popup.
         */
        map.on('singleclick', function (evt) {
          const coordinate = evt.coordinate;
          content.innerHTML = '<p>You clicked here:</p>';
          overlay.setPosition(coordinate);
        });
    </script>

    <div id='js-map' class='map'></div>
    <script src='{{ url_for("static", filename="main.js") }}'></script>
    <script src='{{ url_for("static", filename="libs/v6.12.0-dist/ol.js") }}'></script>
{% endblock %}